<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% include hero.html %}
		<main class="page-content">
			<div class="wrapper">
				<div id="lead">
{% capture page_lead %}
	{% include lead.md %}
{% endcapture %}
					{{ page_lead | markdownify }}
				</div>
				<h1>featured works</h1>
				<section class="featured">
					<div class="thumbnail-grid">
{% for post in site.posts %}
	{% if post.featured %}
						<div class="thumbnail" style="background-image:url('/assets/thumbnails/{{ post.thumbnail }}');">
							<a href="{{ post.url }}">
								<div class="thumbnail-title">
									<h2>{{ post.title }}</h2>
								</div>
							</a>
						</div>
	{% endif %}
{% endfor %}
					</div>
				</section>
			</div>
		</main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/js/bundle.js"></script>
	</body>
</html>
